//Fuentes
$font-main: 'Source Sans 3', sans-serif;
$font-primary: 'Inter', sans-serif;

//Weight
$font-w-semibold: 600;
$font-w-bold: 700;

//Colores
$c-white: #ffffff;
$c-black-opacity: rgba(17, 24, 39, 0.6);
$c-brand: #C80D12;