extends _template

block variables
  -var varTitle = "Modal Track"
  -var varDescription = "Descripción de ModalTrack."
  -var varAuthor = "Geraldine Diaz"

block content
  .mt-main-content
    include components/hero/_index
    include components/calltoaction/_index
    include components/services/_index
