extends _template

block variables
  -var varTitle = "Trabaja con Nosotros"
  -var varDescription = "Trabaja con ModalTrack."
  -var varAuthor = "Kevin Prado"

block content
  .mt-main-content.mt-content--jobs-page
    div.mt-jobs-page
      h1.mt-jobs-page__title Trabaja con Nosotros
      p.mt-jobs-page__text Ofrecemos oportunidades de crecimiento, un ambiente de trabajo colaborativo y un salario competitivo. Si eres apasionado por la logística y buscas un lugar donde tu talento sea valorado, ¡te estamos buscando! Únete a nosotros y sé parte de la revolución del transporte de carga. ¡Aplica hoy y comienza tu viaje hacia una carrera gratificante y llena de posibilidades!
      a.mt-btn.mt-hero__btn(href="#") Ver mas
      picture
        <source srcset="assets/images/jobs-page/jobs-page-desktop.png" media="(min-width: 768px)" />
        <img src="assets/images/jobs-page/jobs-page-mobile.jpg" alt="MDN" />
      //- img(src="assets/images/jobs-page/jobs-page-mobile.jpg", alt="Trabaja con nosotros", class="mt-jobs-page__image")  
    div.mt-jobs-forms
      h1.mt-jobs-forms__title Déjanos tus datos
      p.mt-jobs-forms__text Nos contactaremos contigo para conocerte y comenzar a transformar el transporte de carga juntos.
    div.mt-jobs-forms-1 
      container       
        form
          label.mt-jobs-forms__label Nombre y apellido
          input.mt-jobs-forms__input(type="text" placeholder="Juan Pérez")
          label.mt-jobs-forms__label Número de celular
          input.mt-jobs-forms__input(type="cel" placeholder="3011230000")
          label.mt-jobs-forms__label Correo electrónico
          input.mt-jobs-forms__input(type="email" placeholder="juanperez123@gmail.com")
          label.mt-jobs-forms__label Cargo
          select.mt-jobs-forms__select
            option.mt-jobs-forms__select-option(value="") Seleccione
            option.mt-jobs-forms__select-option(value="cargo1") Cargo 1
            option.mt-jobs-forms__select-option(value="cargo2") Cargo 2
            option.mt-jobs-forms__select-option(value="cargo3") Cargo 3
          a.mt-btn.mt-jobs__btn(href="#") Enviar por Whatsapp
